<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <title>Document</title>
</head>
<body class="background-image" style="background-image:url('static/images/g1.png');height: 100vh;background:opacity(0.1);background-size: cover;background-repeat: no-repeat;" >
<!-- {% extends 'bootstrap/base.html'%} -->

<!--Navbar block-->
{%block styles%}
{{super()}}
<!--Import the simple mde css and js files-->
{{ simplemde.css}}
{{ simplemde.js}}
{% endblock%}

{% block content %}
{% block navbar%}
{% include 'navbar.html' %}
{% endblock%}
{% endblock %}
</body>
</html>