{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container" id="particles-js">
    <div class="row">
        <div class="col-md-2"> </div>
        <div class="col-md-8" id="postform">
            <h2 class="text-center"> Declaration</h2>
            <!-- <div class="profpic">
                <form action="" method="post" enctype="multipart/form-data">
                    <input type="file" name="photo" class="form-control">
                    <input type="submit" class="btn btn-sm btn-info text-center" id="submit">
                   
                </form>

            </div> -->
            {{wtf.quick_form(form)}}
            
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}
