{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<div class="container" id="particles-js" style="margin-top:1%;font-family: 'Bitter', serif; font-size: 130%">
    <div class="card-text">
        <h3 style="font-family: 'Libre Baskerville'; margin-bottom:1%;">On this page, you will find on all the documents that have been
                lost.</h3>
    </div>
    <div class="tab-content">
            <div class="container tab-pane active" id="all"> <br>
                    {{macro.displayLost(losts)}} 
            </div>          
<div class="text-center">
        <a class="btn btn-primary text-center" href="{{url_for('main.declare_lost')}}" style="color:white; font-weight:bolder; margin-top: 3%"> 
                <span></span>POST LOST</a>
</div>
</div>
</div>
{% endblock%}