{% macro displayLost(losts) %}
{% for lost in losts %}

<div class="container">

    <p>{{lost.name}}</p>
    <p>{{lost.address}}</p>
    <p>{{lost.category}}</p>
    {% if lost.image %}
    <img src="{{url_for('static',filename=lost.image)}}">
    {% else %}
    <p>No image uploaded</p>
    {% endif %}
</div>
{%endfor%}
{% for found in founds %}
<div class="container">
    <a href="" style="color:black">
        <h3 class='title'>{{found.category}}</h3>
    </a>
    <p>{{found.address}}</p>
    <p>{{found.name}}</p>
    <p>{{found.image}}</p>
    {% if found %}

</div>
{%endfor%}
{%endmacro%}