{% macro displayLost(losts) %}
{% for lost in losts %}

<div class="container">
    <div class="card">
        <!-- <div class="col-md-6"> -->
                <p>Name: {{lost.name}}</p>
                <p>Place of Issue: {{lost.address}}</p>
                <p>Category: {{lost.category}}</p>
            
                <p>Your Location: {{lost.location}}</p>
                <p>Your Tel: {{lost.phone}}</p>
                <p>Description: {{lost.description}}</p>
                <a href="{{url_for('main.delete',id = lost.id)}}"><i class="fa fa-trash"></i>Delete</a>
                <a href="{{url_for('main.update_lost',id = lost.id)}}"><i class="fas fa-edit"></i>Edit</a>
        <!-- </div> -->
    </div>
   
</div>
{%endfor%}
{%endmacro%}

{% macro displayFound(founds) %}
{% for found in founds %}
<div class="container">
    <p>{{found.category}}</p>
    <p>{{found.address}}</p>
    <p>{{found.name}}</p>
    {% if found.image %}
    <img src="{{url_for('static',filename=found.image)}}">
    {% else %}
    <p>No image uploaded</p>
    {% endif %}
</div>
{%endfor%}
{%endmacro%}
