{% macro displayLost(losts) %}
{% for lost in losts %}

<div class="container">

    <p>{{lost.name}}</p>
    <p>{{lost.address}}</p>
    <p>{{lost.category}}</p>
    {% if lost.image %}
    <img src="{{url_for('static',filename=lost.image)}}">
    {% else %}
    <p>No image uploaded</p>
    {% endif %}
</div>
{%endfor%}
{%endmacro%}

{% macro displayFound(founds) %}
{% for found in founds %}
<div class="container">
    <p>{{found.category}}</p>
    <p>{{found.address}}</p>
    <p>{{found.name}}</p>
    {% if found.image %}
    <img src="{{url_for('static',filename=found.image)}}">
    {% else %}
    <p>No image uploaded</p>
    {% endif %}
</div>
{%endfor%}
{%endmacro%}
